---
title: Publications - Biocompute Lab
section: publications
---
<!DOCTYPE html>
<html lang="en">

{% include head.html %}
<body id="page-top">
{% include nav.html %}

  <!-- BEGIN PRE-PRINTS SECTION -->
  <section class="bg-primary">
    <div class="container">
      <div class="row">
        <div class="col-md-12 text-center">
          <h2>Pre-Prints</h2><hr class="light">
            {% for pub in site.data.publications %}
              {% if pub.status == "pre-print" %}
                <p class="fs-14"><a href="{{pub.preprint_url}}"><b>{{pub.title}}</b></a><br>
                {{ pub.authors | join: ", " }}<br>
                <i>{{pub.preprint_journal}}</i>, {{pub.preprint_id}}, {{pub.preprint_year}}.</p>

                <!-- Altmetric badge -->
                {% if pub.preprint_doi == "" %}</p>
                {% else %}<div class='altmetric-embed' data-hide-no-mentions='true' data-badge-popover='right' data-doi="{{pub.preprint_doi}}"></div></p>
                {% endif %}

              {% endif %}
            {% endfor %}
        </div>
      </div>
    </div>
  </section>
  <!-- END PRE-PRINTS SECTION -->

  <!-- BEGIN PUBLICATIONS SECTION -->
  <!-- <section class="bg-master-lightest p-t-90 p-b-40 no-overflow"> -->
  <section class="bg-master-lightest p-t-40 p-b-40 no-overflow">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="text-center">
            <h2>All Publications</h2>
            <hr>
          </div>
          {% assign loopyear = 9999 %}
          {% for pub in site.data.publications %}

            {% if loopyear > pub.year %}
              {% assign loopyear = pub.year %}
              <div class="p-b-5 p-t-15 text-left">
                <h3 class="section-heading">{{ pub.year }}</h3>
              </div>
            {% endif %}

            {% if loopyear == pub.year %}
            {% if pub.status != "pre-print" %}
            <div class="media">
              <div class="media-left">
                {% if pub.status == "in-revision" or pub.status == "in-prep" or pub.status == "submitted" %}<span class="border"><img class="media-object" width="60" src="images/publications/in-press.gif"></span>
                {% else %}<span class="border"><img class="media-object border border-primary" width="60" src="images/publications/{{pub.thumbnail}}"></span>
                {% endif %}
              </div>
              <div class="media-body">
                {% if pub.status == "in-press"  or pub.status == "in-revision" or pub.status == "submitted" or pub.status == "in-prep" %}
                <p class="fs-14"><b>{{pub.title}}</b><br>
                {% else %}<p class="fs-14"><a href="{{pub.url}}"><b>{{pub.title}}</b></a><br>
                {% endif %}
                {{ pub.authors | join: ", " }}<br>
                {% if pub.status == "online" %}<i>{{pub.journal}}</i>, {{pub.year}}. <i>(online)</i></p>
                {% elsif pub.status == "accepted" %}<i>{{pub.journal}}</i>, {{pub.year}}. <i>(accepted)</i></p>
                {% elsif pub.status == "in-press" %}<i>{{pub.journal}}</i>, {{pub.year}}. <i>(in press)</i></p>
                {% elsif pub.status == "in-revision" %}<i>{{pub.journal}}</i>. <i>(under revision)</i></p>
                {% elsif pub.status == "in-prep" %}<i>{{pub.journal}}</i>. <i>(in preparation)</i></p>
                {% elsif pub.status == "submitted" %}<i>{{pub.journal}}</i>. <i>(submitted)</i></p>
                {% else %}<i>{{pub.journal}}</i> {{pub.volume}}, {{pub.pages}}, {{pub.year}}.</p>
                {% endif %}
                <!-- Notes if they exist -->
                {% if pub.notes %}
                <p><ul>
                  {% for note in pub.notes %}<li>{{note}}</li>{% endfor %}
                </ul></p>
                {% endif %}
                <!-- Altmetric badge -->
                {% if pub.doi == "" %}</p>
                {% else %}<div class='altmetric-embed' data-hide-no-mentions='true' data-badge-popover='right' data-doi="{{pub.doi}}"></div></p>
                {% endif %}
              </div>
            </div>
            {% endif %}
            {% endif %}
          {% endfor %}
        </div>
      </div>
    </div>
  </section>
  <!-- END PUBLICATIONS SECTION -->

{% include contact.html %}
{% include scripts.html %}
</body>

</html>