---
title: Team - Biocompute Lab
section: team
---
<!DOCTYPE html>
<html lang="en">

{% include head.html %}
<body id="page-top">
{% include nav.html %}

    <!-- BEGIN GROUPSHOT PARALLAX -->
    <section class="demo-hero-5" data-pages="parallax" data-pages-bg-image="{{baseurl}}/images/team/2019-groupshot.jpg">
      <!--<div class="container-xs-height full-height">
        <div class="col-xs-height col-middle text-center">
          <h1 class="text-white inner">Your in good hands</h1>
        </div>
      </div>-->
    </section>
    <!-- END GROUPSHOT PARALLAX -->

    <!-- BEGIN TEAM SECTION -->
    <section class="bg-master-light p-b-40 p-t-40 no-overflow">
      <div class="container">
        <h2 class="no-margin">Principle Investigator</h2><br>

        <div class="gallery">  

          {% for person in site.team %}
            {% if person.role == "head" %}
              <!-- START GALLERY ITEM -->
              <a href="{{person.url}}">
              <div class="gallery-item col-sm-6 col-xs-12 no-padding hover-zoom">
                <div class="inner bottom-left bottom-right padding-30">
                  <h5 class="block-title text-white no-margin">{{person.title}}</h5>
                  <h6 class="block-title fs-11 hint-text text-white m-t-5 m-b-0">{{person.position}}</h6>
                  <!--<p class="font-arial fs-11 text-white muted m-t-5 m-b-0">{{person.description}}</p>-->
                </div>
                <div class="ar-2-1">
                  <div data-pages-bg-image="{{baseurl}}/images/team/{{person.image}}" data-bg-overlay="black" data-overlay-opacity="0.4">
                  </div>
                </div>
              </div>
              </a>
              <!-- END GALLERY ITEM -->
            {% endif %}
          {% endfor %}

        </div>
      </div>
    </section>
    <!-- END TEAM SECTION -->

    <!-- BEGIN TEAM SECTION -->
    <section class="bg-master-lightest p-b-40 p-t-40 no-overflow">
      <div class="container">
        <h2 class="no-margin">Group Members</h2><br>
        <div class="gallery">
          {% for person in site.team %}
            {% if person.role == "member" %}
              <!-- START GALLERY ITEM -->
              <a href="{{person.url}}">
              <div class="gallery-item col-sm-6 col-xs-12 no-padding hover-zoom">
                <div class="inner bottom-left bottom-right padding-30">
                  <h5 class="block-title text-white no-margin">{{person.title}}</h5>
                  <h6 class="block-title fs-11 hint-text text-white m-t-5 m-b-0">{{person.position}}</h6>
                  <!--<p class="font-arial fs-11 text-white muted m-t-5 m-b-0">{{person.description}}</p>-->
                </div>
                <div class="ar-2-1">
                  <div data-pages-bg-image="{{baseurl}}/images/team/{{person.image}}" data-bg-overlay="black" data-overlay-opacity="0.4">
                  </div>
                </div>
              </div>
              </a>
              <!-- END GALLERY ITEM -->
            {% endif %}
          {% endfor %}
        </div>
      </div>
    </section>
    <!-- END TEAM SECTION -->

    <!-- BEGIN GROUP PHOTOS SECTION -->
    <section class="bg-master-lighter p-b-40 p-t-40 no-overflow">
      <div class="container">
        <h2 class="no-margin">Group Photos</h2><br>

        <div class="gallery">

          <!-- START GALLERY ITEM -->
          <div class="gallery-item col-sm-6 col-xs-12 inner left no-padding hover-zoom">
            <div class="inner bottom-left bottom-right padding-30">
              <h5 class="block-title text-white no-margin">Lab Retreat 2019</h5>
              <p class="font-arial fs-11 text-white muted m-t-5 m-b-0">Jurassic Coast, Dorset, UK</p>
            </div>
            <a href="{{baseurl}}/images/photos/2019_retreat.jpg">
            <div class="ar-2-1">
              <div data-pages-bg-image="{{baseurl}}/images/photos/2019_retreat.jpg" data-bg-overlay="black" data-overlay-opacity="0.4">
              </div>
            </div>
            </a>
          </div>
          <!-- END GALLERY ITEM -->

          <!-- START GALLERY ITEM -->
          <div class="gallery-item col-sm-6 col-xs-12 inner left no-padding hover-zoom">
            <div class="inner bottom-left bottom-right padding-30">
              <h5 class="block-title text-white no-margin">Group Photo 2019</h5>
              <p class="font-arial fs-11 text-white muted m-t-5 m-b-0">Life Sciences Building, Bristol, UK</p>
            </div>
            <a href="{{baseurl}}/images/photos/2019_group.jpg">
            <div class="ar-2-1">
              <div data-pages-bg-image="{{baseurl}}/images/photos/2019_group.jpg" data-bg-overlay="black" data-overlay-opacity="0.4">
              </div>
            </div>
            </a>
          </div>
          <!-- END GALLERY ITEM -->

          <!-- START GALLERY ITEM -->
          <div class="gallery-item col-sm-6 col-xs-12 inner left no-padding hover-zoom">
            <div class="inner bottom-left bottom-right padding-30">
              <h5 class="block-title text-white no-margin">Lab Retreat 2018</h5>
              <p class="font-arial fs-11 text-white muted m-t-5 m-b-0">Brecon Beacons, Wales</p>
            </div>
            <a href="{{baseurl}}/images/photos/2018_retreat.jpg">
            <div class="ar-2-1">
              <div data-pages-bg-image="{{baseurl}}/images/photos/2018_retreat.jpg" data-bg-overlay="black" data-overlay-opacity="0.4">
              </div>
            </div>
            </a>
          </div>
          <!-- END GALLERY ITEM -->

          <!-- START GALLERY ITEM -->
          <div class="gallery-item col-sm-6 col-xs-12 inner left no-padding hover-zoom">
            <div class="inner bottom-left bottom-right padding-30">
              <h5 class="block-title text-white no-margin">Chirstmas Party 2017</h5>
              <p class="font-arial fs-11 text-white muted m-t-5 m-b-0">Portishead, UK</p>
            </div>
            <a href="{{baseurl}}/images/photos/2017_christmas.jpg">
            <div class="ar-2-1">
              <div data-pages-bg-image="{{baseurl}}/images/photos/2017_christmas.jpg" data-bg-overlay="black" data-overlay-opacity="0.4">
              </div>
            </div>
            </a>
          </div>
          <!-- END GALLERY ITEM -->

          <!-- START GALLERY ITEM -->
          <div class="gallery-item col-sm-6 col-xs-12 inner left no-padding hover-zoom">
            <div class="inner bottom-left bottom-right padding-30">
              <h5 class="block-title text-white no-margin">Group Photo 2017</h5>
              <p class="font-arial fs-11 text-white muted m-t-5 m-b-0">Life Sciences Building, Bristol, UK</p>
            </div>
            <a href="{{baseurl}}/images/photos/2017_group.jpg">
            <div class="ar-2-1">
              <div data-pages-bg-image="{{baseurl}}/images/photos/2017_group.jpg" data-bg-overlay="black" data-overlay-opacity="0.4">
              </div>
            </div>
            </a>
          </div>
          <!-- END GALLERY ITEM -->

          <!-- START GALLERY ITEM -->
          <div class="gallery-item col-sm-6 col-xs-12 inner left no-padding hover-zoom">
            <div class="inner bottom-left bottom-right padding-30">
              <h5 class="block-title text-white no-margin">Exmoor Lab Retreat 2017</h5>
              <p class="font-arial fs-11 text-white muted m-t-5 m-b-0">Exmoor National Park, Devon, UK</p>
            </div>
            <a href="{{baseurl}}/images/photos/2017_retreat.jpg">
            <div class="ar-2-1">
              <div data-pages-bg-image="{{baseurl}}/images/photos/2017_retreat.jpg" data-bg-overlay="black" data-overlay-opacity="0.4">
              </div>
            </div>
            </a>
          </div>
          <!-- END GALLERY ITEM -->

          <!-- START GALLERY ITEM -->
          <div class="gallery-item col-sm-6 col-xs-12 inner left no-padding hover-zoom">
            <div class="inner bottom-left bottom-right padding-30">
              <h5 class="block-title text-white no-margin">BrisSynBio Lab 2016</h5>
              <p class="font-arial fs-11 text-white muted m-t-5 m-b-0">Life Sciences Building, Bristol, UK</p>
            </div>
            <a href="{{baseurl}}/images/photos/2016_group.jpg">
            <div class="ar-2-1">
              <div data-pages-bg-image="{{baseurl}}/images/photos/2016_group.jpg" data-bg-overlay="black" data-overlay-opacity="0.4">
              </div>
            </div>
            </a>
          </div>
          <!-- END GALLERY ITEM -->
          
        </div>
      </div>

    </section>
    <!-- END GROUP PHOTOS SECTION -->

    <!-- BEGIN ALUMNI SECTION -->
    <section class="bg-master-light p-b-40 p-t-40 no-overflow">
      <div class="container">
        <h2 class="no-margin">Alumni</h2><br>
        <p class="font-arial fs-14">
          {% assign sorted_team = (site.team | sort: 'leaveyear') | reverse %}
          {% for person in sorted_team %}
            {% if person.role == "alumni" %}
                <b>{{person.title}}</b> ({{person.leaveyear}}) - {{person.position}}<br>
            {% endif %}
          {% endfor %}
        </p>
      </div>
    </section>
    <!-- END GROUP PHOTOS SECTION -->
    
{% include contact.html %}
{% include scripts.html %}
</body>

</html>