---
title: News - Biocompute Lab
section: news
---
<!DOCTYPE html>
<html lang="en">

{% include head.html %}
<body id="page-top">
{% include nav.html %}

<section class="p-b-20 p-t-100 bg-master-lighter">
  <div class="container">
    <div class="social-wrapper">
      <!-- START SOCIAL -->
      <div class="social " data-pages="social">
        <div class="feed">
          <!-- START DAY -->
          <div class="day" data-social="day">

          {% for post in paginator.posts %}

              <!-- START ITEM -->
              <div class="card share share-other col1" data-social="item">
                <div class="card-content">
                  <img src="{{baseurl}}{{ post.image }}" class="lazy">
                </div>
                <div class="card-description">
                  <h4>{{ post.title }}</h4>
                  <p class="font-arial fs-11 text-grey muted m-t-0 m-b-0">{{ post.date | date: '%B %d, %Y' }}</p>
                  <p>{{ post.excerpt }}</p>
                </div>
                <div class="card-footer m-t-5 clearfix">
                  {% if post.readmore == false %} <!-- DO NOTHING -->
                  {% else %}<p><a class="btn btn-default center-block" href="{{post.url}}">Read more...</a></p>
                  {% endif %}
                </div>
              </div>
              <!-- END ITEM -->
          
          {% endfor %}

          </div>
          <!-- END DAY -->
        </div>
        <!-- END FEED -->
      </div>
    </div>
  </div>
</section>

<section class="p-b-10 p-t-20 bg-master-light">
  <!-- Pagination links -->
  {% if paginator.total_pages >= 1 %}
  <div class="container">
    <p class="text-center">

    {% if paginator.previous_page %}
      <a href="{{ paginator.previous_page_path | prepend: site.baseurl | replace: '//', '/' }}"><i class="pg-arrow_left m-r-0"></i> Prev</a>
    {% else %}
      <span><i class="pg-arrow_left m-r-0"></i> Prev</span>
    {% endif %}

    {% for page in (1..paginator.total_pages) %}
      {% if page == paginator.page %}
        <i>{{ page }}</i>
      {% elsif page == 1 %}
        <a href="{{ paginator.previous_page_path | prepend: site.baseurl | replace: '//', '/' }}">{{ page }}</a>
      {% else %}
        <a href="{{ site.paginate_path | prepend: site.baseurl | replace: '//', '/' | replace: ':num', page }}">{{ page }}</a>
      {% endif %}
    {% endfor %}

    {% if paginator.next_page %}
      <a href="{{ paginator.next_page_path | prepend: site.baseurl | replace: '//', '/' }}">Next  <i class="pg-arrow_right m-l-0"></i></a>
    {% else %}
      <span>Next <i class="pg-arrow_right m-l-0"></i></span>
    {% endif %}

    </p>
  </div>
  {% endif %}
</section>

{% include contact.html %}
{% include scripts.html %}
</body>

</html>
