<section class="bg-primary" id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">Understanding how biology computes</h2>
                <hr class="light">
                <p class="text-faded">The Biocompute Lab explores the molecular-scale mechanisms that individual cells and groups of cells use to make sense of their world. We apply tools and methods from the field of synthetic biology to create new living systems from the ground-up. By studying these artificial systems using novel techniques we are developing based on sequencing, microfluidics and computational modelling, we aim to better understand the rules governing how biological parts are best pieced together to perform useful computations. Understanding the computational architecture of cells opens new ways of reprogramming them to tackle problems spanning the sustainable production of materials to novel therapeutics. It also provides key insights into how biology controls the complex processes and structures sustaining life.</p>
                <a href="#" class="btn btn-default btn-xl">Join the team</a>
            </div>
        </div>
    </div>
</section>
