<header>
    <div class="header-content">
        <div class="header-content-inner">
            <h1>Biology Computes...</h1>
            <hr>
            <p>From individual cells deciding how to differentiate during development, to social insects coordinating their actions when scavenging for food, the ability to perform complex computations and process information enables life.</p>
            <a href="#about" class="btn btn-primary btn-xl page-scroll">Synthetic Biology + Computation</a>
        </div>
    </div>
</header>
