<section class="no-padding" id="retreat">
    <div class="container-fluid">
        <div class="row no-gutter">

            <div class="col-lg-4 col-sm-6" style="height:300px;overflow:hidden;">
                <a href="#" class="retreat-box">
                    <img src="images/photos/2019_retreat.jpg" class="img-responsive" alt="">
                    <div class="retreat-box-caption">
                        <div class="retreat-box-caption-content">
                            <div class="project-category text-faded">
                                Lab Retreat 2019
                            </div>
                            <div class="project-name">
                                Jurassic Coast, Dorset, UK
                            </div>
                        </div>
                    </div>
                </a>
            </div>

            <div class="col-lg-4 col-sm-6" style="height:300px;overflow:hidden;">
                <a href="#" class="retreat-box">
                    <img src="images/photos/2019_group.jpg" class="img-responsive" alt="">
                    <div class="retreat-box-caption">
                        <div class="retreat-box-caption-content">
                            <div class="project-category text-faded">
                                Group Photo 2019
                            </div>
                            <div class="project-name">
                                Life Sciences Building, Bristol, UK
                            </div>
                        </div>
                    </div>
                </a>
            </div>

            <div class="col-lg-4 col-sm-6" style="height:300px;overflow:hidden;">
                <a href="#" class="retreat-box">
                    <img src="images/photos/2018_retreat.jpg" class="img-responsive" alt="">
                    <div class="retreat-box-caption">
                        <div class="retreat-box-caption-content">
                            <div class="project-category text-faded">
                                Lab Retreat 2018
                            </div>
                            <div class="project-name">
                                Brecon Beacons, Wales
                            </div>
                        </div>
                    </div>
                </a>
            </div>

            <div class="col-lg-4 col-sm-6" style="height:300px;overflow:hidden;">
                <a href="#" class="retreat-box">
                    <img src="images/photos/2017_christmas.jpg" class="img-responsive" alt="">
                    <div class="retreat-box-caption">
                        <div class="retreat-box-caption-content">
                            <div class="project-category text-faded">
                                Chirstmas Party 2017
                            </div>
                            <div class="project-name">
                                Portishead, UK
                            </div>
                        </div>
                    </div>
                </a>
            </div>

            <div class="col-lg-4 col-sm-6" style="height:300px;overflow:hidden;">
                <a href="#" class="retreat-box">
                    <img src="images/photos/2017_group.jpg" class="img-responsive" alt="">
                    <div class="retreat-box-caption">
                        <div class="retreat-box-caption-content">
                            <div class="project-category text-faded">
                                Group Photo 2017
                            </div>
                            <div class="project-name">
                                Life Sciences Building, Bristol, UK
                            </div>
                        </div>
                    </div>
                </a>
            </div>

            <div class="col-lg-4 col-sm-6" style="height:300px;overflow:hidden;">
                <a href="#" class="retreat-box">
                    <img src="images/photos/2017_retreat.jpg" class="img-responsive" alt="">
                    <div class="retreat-box-caption">
                        <div class="retreat-box-caption-content">
                            <div class="project-category text-faded">
                                Lab Retreat 2017
                            </div>
                            <div class="project-name">
                                Exmoor National Park, Devon, UK
                            </div>
                        </div>
                    </div>
                </a>
            </div>

            <div class="col-lg-4 col-sm-6" style="height:300px;overflow:hidden;">
                <a href="#" class="retreat-box">
                    <img src="images/photos/2016_group.jpg" class="img-responsive" alt="">
                    <div class="retreat-box-caption">
                        <div class="retreat-box-caption-content">
                            <div class="project-category text-faded">
                                BrisSynBio Lab 2016
                            </div>
                            <div class="project-name">
                                Life Sciences Building, Bristol, UK
                            </div>
                        </div>
                    </div>
                </a>
            </div>

            <div class="col-lg-4 col-sm-6" style="height:300px;overflow:hidden;">
                <a href="#" class="retreat-box">
                    <img src="images/photos/2016_group.jpg" class="img-responsive" alt="">
                    <div class="retreat-box-caption">
                        <div class="retreat-box-caption-content">
                            <div class="project-category text-faded">
                                BrisSynBio Lab 2016
                            </div>
                            <div class="project-name">
                                Life Sciences Building, Bristol, UK
                            </div>
                        </div>
                    </div>
                </a>
            </div>

        </div>
    </div>
</section>
