
<!-- BEGIN TEAM SECTION -->
    <section class="bg-master-light p-b-40 p-t-40 no-overflow">
      <div class="container">
        <h2 class="no-margin">Principle Investigator</h2><br>

        <div class="gallery">  

          {% for person in site.team %}
            {% if person.role == "head" %}
              <!-- START GALLERY ITEM -->
              <a href="{{person.url}}">
              <div class="gallery-item col-sm-6 col-xs-12 no-padding hover-zoom">
                <div class="inner bottom-left bottom-right padding-30">
                  <h5 class="block-title text-white no-margin">{{person.title}}</h5>
                  <h6 class="block-title fs-11 hint-text text-white m-t-5 m-b-0">{{person.position}}</h6>
                  <!--<p class="font-arial fs-11 text-white muted m-t-5 m-b-0">{{person.description}}</p>-->
                </div>
                <div class="ar-2-1">
                  <div data-pages-bg-image="{{baseurl}}/images/team/{{person.image}}" data-bg-overlay="black" data-overlay-opacity="0.4">
                  </div>
                </div>
              </div>
              </a>
              <!-- END GALLERY ITEM -->
            {% endif %}
          {% endfor %}

        </div>
      </div>
    </section>
    <!-- END TEAM SECTION -->

    <!-- BEGIN TEAM SECTION -->
    <section class="bg-master-lightest p-b-40 p-t-40 no-overflow">
      <div class="container">
        <h2 class="no-margin">Group Members</h2><br>
        <div class="gallery">
          {% for person in site.team %}
            {% if person.role == "member" %}
              <!-- START GALLERY ITEM -->
              <a href="{{person.url}}">
              <div class="gallery-item col-sm-6 col-xs-12 no-padding hover-zoom">
                <div class="inner bottom-left bottom-right padding-30">
                  <h5 class="block-title text-white no-margin">{{person.title}}</h5>
                  <h6 class="block-title fs-11 hint-text text-white m-t-5 m-b-0">{{person.position}}</h6>
                  <!--<p class="font-arial fs-11 text-white muted m-t-5 m-b-0">{{person.description}}</p>-->
                </div>
                <div class="ar-2-1">
                  <div data-pages-bg-image="{{baseurl}}/images/team/{{person.image}}" data-bg-overlay="black" data-overlay-opacity="0.4">
                  </div>
                </div>
              </div>
              </a>
              <!-- END GALLERY ITEM -->
            {% endif %}
          {% endfor %}
        </div>
      </div>
    </section>
    <!-- END TEAM SECTION -->
